{% extends 'components/layout.html' %}

{% block title %}Home{% endblock title %}

{% block header %}
<div class="hero-image">
    <div class="hero-text">
       <p>“I can do this all day."</p>
    </div>
</div>
{% endblock header%}

{% block content%}  
<div class="container-fluid">
    <div class="row justify-content-center">
        <h3>Ever wonder what it would be like to step into the shoes of Nick Fury and assemble your own team of Supers?</h3>
    </div>
    <div class="row justify-content-center"> 
        <h3>Well, you are in the right place!</h3>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <h4>Login or Register to save the world and create a team of worthy heroes (or unpredictable anti-heroes)!</h4>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div id="hammer">
            <img src="/static/images/thors-hammer.jpeg">
        </div>
    </div>
</div>
{% endblock content%}

